/*
 * Gridism demonstration page
 * These styles are all just for the Gridism demo page.
 * You don’t need this styleshee in your project.
 */

/* General */

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: #FBF6F4;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

/* I use full-width horizontal sections a lot */
body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

h1, h2, h3 {
  font-family: Oswald;
  font-weight: 200;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

a {
  color: #c00;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header, section {
  border-bottom: 1px solid #eee;
}

header, section, footer {
  border-top: 1px solid #fff;
}

section, footer {
  padding: 30px 0;
}

header h1 a {
  color: #333;
  border-bottom: none;
}

header p {
  margin: 2em 0;
}

.lead {
  font-size: 1.5em;
}

p, pre, table {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

table {
  margin: 20px 0px;
  background: #DDD;
}

td {
  padding: 10px 10px;
  background: #EEE;
}

th {
  padding: 10px 0px;
  line-height: 1.2em;
}

img {
  margin: 20px 0px;
}

.button {
  border-radius: 5px;
  background: #efefef;
  background-image: -moz-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -webkit-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -ms-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: linear-gradient(#FCFCFC, #EFEFEF);
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .5em;
}

.button:hover, .button:focus {
  outline: none;
  border: 1px solid rgba(255,0,0,.5);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 0 10px rgba(255,0,0,.3);
}

footer p {
  margin: 0;
  font-size: 1em;
}

@media (min-width: 960px){
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.8em;
  }
}

/* Styles to help demonstrate the grid */

code, pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
  background: #F1E3D5;
  color: #333;
  padding: 3px;
  border-radius: 5px;
}

pre {
  padding: 10px;
}

.demo p {
  margin: 0;
}

.demo .unit pre {
  margin: 0;
  padding: 20px 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.demo .unit pre:hover {
  background: #fc0;
}

.grid, .unit {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.demo .unit .grid {
  overflow: hidden;
  background: rgba(241,227,213,.5);
}

.demo .unit .grid:first-child {
  border-radius: 5px 5px 0 0;
}

.demo .unit .grid:last-child {
  border-radius: 0 0 5px 5px;
}


.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.lineno { background: #AAA; }